<!DOCTYPE html>
<html ng-app="myApp" >
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>This is the index page</h1>
    <a ui-sref="about">About</a>
    <a ui-sref="profile">Profile</a>
    <a ui-sref="home">Home</a>
    <div ui-view=""></div>

    <!--Linking angular and app.js files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
